{"modules":["xy","line","area","vbar","r","pie","nestedpie","animation","api","tooltip","legend","scalemarkers","csv","guide","objects","zoom","preview","scroll","errorbars","refresh","debug","selection"]}